<div class="fluid-container">
  <router-outlet></router-outlet>
  <div class="row no-gutters fixedbar justify-content-center align-items-center">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/databinding">DataBinding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/directivas">Directivas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/pipes">Pipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/servicios">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/rutas">Routing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/formularios">Formularios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/firebase">Firebase</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/autenticacion">Autenticación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLinkActive="active" routerLink="#">Modularizacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLinkActive="active" routerLink="#">TécnicasProyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLinkActive="active" routerLink="#">DespliegueProd</a>
      </li>
    </ul>
  </div>
</div>