<div class="row no-gutters bg-info text-white" style="height:100%">
  <div class="col-4"></div>
  <div class="col-4">
    <form class="col-12" [formGroup]="alumnoForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-12">
        <label for="id">ID</label>
        <input class="form-control" type="number" name="id" id="id" formControlName="id" >
        <i *ngIf="alumnoForm.controls.id.valid" class="check"></i>
        <i *ngIf="alumnoForm.controls.id.invalid && alumnoForm.controls.id.touched" class="uncheck"></i>
      </div>
      <div class="form-group col-12">
        <label for="Nombre">Nombre</label>
        <input class="form-control" type="text" name="nombre" id="name" formControlName="name">
        <i *ngIf="alumnoForm.controls.name.valid" class="check"></i>
        <i *ngIf="alumnoForm.controls.name.invalid && alumnoForm.controls.name.touched " class="uncheck"></i>
      </div>
      <div class="form-group col-12">
        <label for="city">Email</label>
        <input class="form-control" type="email" name="email" id="email" formControlName="email">
        <i *ngIf="alumnoForm.controls.email.valid" class="check"></i>
        <i *ngIf="alumnoForm.controls.email.invalid && alumnoForm.controls.email.touched " class="uncheck"></i>
      </div>
      <div class="form-group col-12">
        <label for="option">Option</label>
        <select name="opt" id="opt" formControlName="opt">
          <option *ngFor="let opt of options" [value]="opt"> {{ opt }}</option>
        </select>
      </div>
      <div class="form-group col-12">
        <button type="submit" class="btn btn-primary" [disabled]="!alumnoForm.valid">
          Enviar
        </button>
      </div>
    </form>
    <div id="resp" class="col-6">
      {{ alumnoForm.value | json }}
    </div>
    <div id="resp1" class="col-6">
      {{ alumnoForm.status | json }}
    </div>
    <div id="resp2" class="col-6">
      {{ alumno | json }}
    </div>
  </div>
  <div class="col-4"></div>


</div>